@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 
.fl { float: left; }
 .fr { float: right; }
 .ab { position: absolute; }
.re { position: relative; }
.border {
	border: 1px solid red;
}
* {
	box-sizing: border-box;
	font-family: Noto Sans KR, sans-serif !important;
}
body {
	margin: 0;
	overflow-y: hidden; 
}
.parents{
	display: grid;
	grid-template-columns: 1fr 1fr;
 	grid-gap: 2px;
}


#div_header { 
	width: 100%;
	height: 53px;
	border-bottom: 1px solid #E5E5E5;
}
#div_header > #div_logo {
	width: 32px;
	height: 32px;
	background-color: #FFF !important;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, .12);
       margin-left: 17px;
  		margin-top: 11px;
}
#div_header > #div_logo > img {
	height: 30px;
}
#div_header > #div_select_team {
	height: 32px;
	margin-left: 10px;
  		margin-top: 13px;
}
#div_header > #div_select_team > span {
	font-size: 18px;
	font-weight: 700;
	color: rgb(51,51,51);
}
#div_header > #div_select_team > img {
	margin-top: -5px;
}
#div_menu3, #div_menu4, #div_help, #div_search, #div_hierarchy, #div_notice {
	margin-top: 13px;
	margin-right: 21px;	
}
#div_header > #div_menu4 {
	position: relative;
	width: 44px;
	height: 32px;
}
#div_header > #div_menu4 > img:nth-child(1) {
	position: absolute;
	left: 0;	
}
#div_header > #div_menu4 > img:nth-child(2) {
	position: absolute;
	right: 6px;
	top: -8px;
}
#div_header > #div_help {
	position: relative;	
	height: 32px;
	width: 24px;
}
#div_header > #div_help > img {
	position: absolute;	
	left: 0;
}
#div_header > #div_help > div.on {
	position: absolute;
	top: -2px;
	right: -2px;
	background-color: rgb(255,92,72);
	width: 6px;
	height: 6px;
	border-radius: 3px;
}


#div_side1 {
	width: 263px;
	min-height: 900px;
	border-right: 1px solid #E5E5E5;
	background-color: ;
}
#div_side1 > div:not(:first-child) { border-top: 1px solid #E5E5E5; }
	





#addproject {
	width: 594px;
	margin-left: 90px;
	margin-top: 180px;
	
}

#project_name > input {
	width: 594px;
	height: 60px;
	margin: 0 auto;
	display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-radius: 4px;
    border: 1px solid #999;
    
}
#project_name > input:focus {
	outline: none;
  	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
}
#project_color {
	font-size: 16px;
	font-weight: 700;
	margin-top: 40px;
	margin-left: 20px;
}

#project_colorselect div{
	margin-left: 10px;
    margin-top: 5px;
}

#blue {
	width: 50px;
	height:50px;
	
	border-radius: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.color_select1 { background-color: #00B19C; }
.color_select2 { background-color: #00B01C; }
.color_select3 { background-color: #FFB800; }
.color_select4 { background-color: #FD7900; }
.color_select5 { background-color: #FF3434; }
.color_select6 { background-color: #FF5CAA; }
.color_select7 { background-color: #1EBBFF; }
.color_select8 { background-color: #0066FF; }
.color_select9 { background-color: #8B00EA; }
.color_select10 { background-color: #999999; }
.color_select11 { background-color: #111111; }
.color_select12 { background-color: #DDDDDD; }


.color_select_container {
	display: flex;
	flex-wrap: wrap;
}
.radio {
	margin-top: -75px;
	margin-left: 42px;
}
.radio[type=radio] {
	width:20px;
	height: 20px;
}
#project_button > button {
	font-size: 15px;
	margin-top: 50px;
	width: 594px;
	height: 54px;
	padding: 16px 0;
	background: #00C473;
    color: #fff;
    line-height: 22px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}
#photo {
	margin-right: 150px;
	margin-top: 25px;
}
#photo > button {
	border: none;
	background-color: white;
}
#photo_top {
	top: 250px;
	right: 270px;
	width: 658px;
	height: 80px;
	border-radius:10px 10px 0 0;
	border: 1px solid #ddd;
	border-bottom: none;
}
#photo_bottom {
	width: 658px;
	right: 270px;
	top: 330px;
	border-radius:0 0 10px 10px;
	border: 1px solid #ddd;
	border-top: none;
}
input[type="radio"] {
   accent-color: rgb(91, 161, 141);
   color-scheme: light;
   border: 1px solid rgb(206 206 209);
}
