@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
* { box-sizing: border-box; 
    font-family: Noto Sans KR, sans-serif; 
    font-style: normal;
    font-size: 14px;
}
.border { border: 1px solid #b82626; border-top: none; }
.fl { float: left; }
.fr { float: right; }
html {
    line-height: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: Noto Sans KR, sans-serif; 
    vertical-align: inherit;
    box-sizing: border-box;
    word-break: break-all;
}

a {
    color: inherit;
    text-decoration: none;
}

#wrapper {
    width: 100%;
    position: relative;
    background: #e8e8e8;
}

.gift-header {
    width: 768px;
    background: #fff;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    margin-left: -384px;
    z-index: 1000;
    border-bottom: 1px solid #f1f1f1;
}

.header_inner {
    width: 100%;
}

.top_header {
    width: 100%;
    position: relative;
}

.top_header > h2 {
    padding: 0 30px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    font-weight: 600;
}

header .header_inner .top_header > button.btn_close {
    right: 30px;
    top: 38px;
    background: url(https://imagec.multicon.co.kr/ServiceCommon/jandi/resources/images/cross.svg) center center no-repeat;
    background-size: 20px;
}

header .header_inner .top_header > button {
    width: 24px;
    height: 24px;
    position: absolute;
}

button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    text-transform: none;
    line-height: normal;
    outline: none;
    font-family: inherit;
    font-size: 1.4rem;
    margin: 0;
}

header .header_inner .gnb > ul {
    width: 100%;
    padding: 16px 0 0;
    display: table;
}

ol, ul {
    list-style: none;
}

header .header_inner .gnb > ul > li {
    display: table-cell;
    text-align: center;
    width: 25%; /* 모든 메뉴 항목이 동일한 너비를 갖도록 설정 */
}

header .header_inner .gnb > ul > li.on > a {
    color: #00c473;
    border-bottom: 2px solid #00c473;
    display: inline-block;
    font-size: 16px;
    box-sizing: border-box;
    line-height: 24px;
    padding: 0 8px 14px;
    width: 100%; /* 가변적인 텍스트 길이에 영향을 받지 않도록 수정 */
    text-align: center; /* 텍스트를 중앙에 정렬 */
}

/* ul 요소의 list-style 제거 */
ol, ul {
    list-style: none;
}

#container {
    width: 768px;
    padding-top: 156px;
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
    min-height: calc(100vh - 53px);
}

.main_content {
    width: 100%;
}

.main_content .main_sw {
    width: 100%;
    position: relative;
}

.main_content .main_sw {
    width: 100%;
    position: relative;
}

.sw_pc {
    display: block !important;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    transform: translate3d(0px, 0, 0);
    transform: translate3d(-1536px, 0px, 0px);
    transition-duration: 0ms;
}

.swiper-slide {
    font-size: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.banner_img {
    width: 100%;
    height: 100%;
}

.list_area {
    width: 100%;
    /* border-top: 10px solid #f1f1f1; */
}

.list_area > h2 {
    padding: 26px 0px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: #000;
    line-height: 29px;
    position: relative;
}

.list_area .list_type_a {
    width: 100%;
    text-align: left;
}

.list_area .list_type_a > ul {
    width: 100%;
    font-size: 0;
    border-top: 1px solid #ececec;
}

.list_area .list_type_a > ul > li {
    width: 180px;
    cursor: pointer;
    box-sizing: border-box;
    min-height: 326px;
    vertical-align: top;
    display: inline-block;
    border-bottom: 1px solid #ececec;
    border-right: 1px solid #ececec;
}

.list_area .list_type_a > ul > li:nth-child(4n+1) {
    border-left: none;
    width: 204px;
    padding-left: 24px;
}

.list_area .list_type_a > ul > li .p_img {
    width: 100%;
    position: relative;
}

.list_area .list_type_a > ul > li .p_img > img {
    width: 100%;
}

.list_area .list_type_a > ul > li .p_info {
    padding: 0 20px;
    text-align: left;
}

.list_area .list_type_a > ul > li .p_info .brand {
    font-size: 13px;
    color: #00c473;
    line-height: 19px;
}

.list_area .list_type_a > ul > li .price_info {
    text-align: left;
    padding: 16px 20px 0;
}

.list_area .list_type_a > ul > li .price_info > p {
    display: inline-block;
    vertical-align: middle;
}

.list_area .list_type_a > ul > li .price_info > p > strong {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    line-height: 21px;
    vertical-align: middle;
}

.list_area .list_type_a > ul > li .price_info > p > i {
    font-size: 14px;
    font-weight: 300;
    color: #333;
    line-height: 21px;
    vertical-align: middle;
}

.list_area .list_type_a > ul > li .p_info > h5 {
    padding-top: 3px;
    font-size: 14px;
    color: #333;
    line-height: 19px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 41px;
}

/* footer 부분 */
footer.type2 {
    margin-top: 0;
}

footer {
    background: rgb(241, 241, 241);
    width: 768px;
    margin: 0 auto;
}

footer .foot-top {
    padding: 20px 44px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(224, 224, 224);
}

footer .foot-top > ul {
    width: 100%;
    line-height: 1;
}

footer .foot-top > ul > li:first-child {
    background: none;
}

footer .foot-top > ul > li {
    display: inline-block;
    line-height: 1;
    margin-right: 14px;
    font-size: 12px;
    color: #2e2e2e;
}

footer .foot-top > ul > li > a {
    font-size: 12px;
    color: #2e2e2e;
}

a {
    text-decoration: none;
}

footer .foot-top > ul > li > span.btn_customer_info.on {
    display: inline-block;
    padding-right: 15px;
    background: url(https://imagec.multicon.co.kr/ServiceCommon/jandi/resources/images/ic-up.svg) right no-repeat;
    background-size: 12px;
}

footer .foot-top > ul > li > span.btn_customer_info {
    display: inline-block;
    color: rgb(25, 25, 25);
    padding-right: 15px;
    background: url(https://imagec.multicon.co.kr/ServiceCommon/jandi/resources/images/ic-down.svg) right no-repeat;
    background-size: 12px;
}

footer .foot-top > ul > li > span {
    font-size: 12px;
    cursor: pointer;
    color: rgb(133, 101, 101);
}

footer .foot-top > ul > li > span.btn_company_info {
    display: inline-block;
    color: rgb(25, 25, 25);
    padding-right: 15px;
    background: url(https://imagec.multicon.co.kr/ServiceCommon/jandi/resources/images/ic-down.svg) right no-repeat;
    background-size: 12px;
}

footer .foot_info2 {
    padding: 20px 44px 0px;
    font-size: 11px;
    display: none;
}

footer .foot_info2 .compm {
    padding-bottom: 0px;
    color: #7e7e7e;
    padding: 0;
    text-align: left;
}

footer .foot_info2 > div {
    padding-top: 10px;
    display: block;
    font-weight: normal;
}

footer .foot_info2 .compm > p.tit {
    font-weight: 700;
    margin-top: 0;
    font-size: 14px;
    padding-bottom: 6px;
}

footer .foot_info2 .compm > p.tit > span {
    color: #7e7e7e;
    font-size: 14px;
    font-weight: 700;
    vertical-align: unset;
}

footer .foot_info2 p > span:last-child {
    padding-right: 0;
}

footer .foot_info2 p > span:first-child {
    background: none;
    padding-left: 0;
}

footer .foot_info2 p > span {
    display: inline-block;
    padding: 0 8px;
    vertical-align: top;
}

footer .foot_info2 .compm > p.time {
    margin-top: 0;
    width: 100%;
    display: table;
}

footer .foot_info2 .compm > p.time > span:first-child {
    width: 50px;
}

footer .foot_info2 .compm > p.time > span {
    display: table-cell;
    font-size: 12px;
}

footer .foot_info2 p > span:last-child {
    padding-right: 0;
}

footer .foot_info2 p > span:first-child {
    background: none;
    padding-left: 0;
}

footer .foot_info2 p > span {
    display: inline-block;
    padding: 0 8px;
    vertical-align: top;
}

footer .foot_info2 .compm > p.mail {
    margin-bottom: 6px;
    width: 100%;
    display: table;
}

footer .foot_info2 .compm > p.mail > span:first-child {
    width: 50px;
}

footer .foot_info2 .compm > p.mail > span {
    display: table-cell;
    font-size: 12px;
}

footer .foot_info2 p > span:last-child {
    padding-right: 0;
}

footer .foot_info2 p > span:first-child {
    background: none;
    padding-left: 0;
}

footer .copy_right {
    font-size: 12px;
    padding: 20px 44px;
    text-align: left;
    font-weight: normal;
    color: #bababa;
}

footer .foot_info {
    padding: 20px 44px 0px;
    font-size: 11px;
    display: none;
}

footer .foot_info .compm {
    padding-bottom: 0px;
    color: #7e7e7e;
    text-align: left;
    margin: 0;
}

footer .foot_info > div {
    display: block;
    font-weight: normal;
}

footer .foot_info .compm > p {
    padding-bottom: 0px;
    margin: 0;
    font-size: 12px;
}

/* 카테고리 부분 */
.thema_content {
    width: 100%;
    border-top: 1px solid #f1f1f1;
}

.thema_sw {
    padding: 20px 0 20px 44px;
    display: flex; /* 수평 정렬을 위한 플렉스 박스 레이아웃 적용 */
    gap: 40px; /* 요소 간 간격을 유지 */
    align-items: center; /* 세로 가운데 정렬 */
}

.swiper-container-horizontal {
    display: flex; /* 수평 정렬을 위한 플렉스 박스 레이아웃 적용 */
}

.swiper-wrapper {
    display: flex; /* 수평 정렬을 위한 플렉스 박스 레이아웃 적용 */
    gap: 40px; /* 요소 간 간격 유지 */
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
}

button, input {
    line-height: normal;
    outline: none;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 1.4rem;
    margin: 0;
}

.thema_sw .swiper-slide {
    width: auto !important;
    /* margin-right: 40px; */
}

.swiper-slide {
    font-size: 0;
    flex-shrink: 0;
    width: auto; /* 자동 너비 조정 */
    height: auto; /* 자동 높이 조정 */
    position: relative;
    transition-property: transform;
    /* margin-right: 20px; 각 요소 사이의 간격을 20px로 설정 */
}

/* 마지막 요소에는 오른쪽 마진을 적용하지 않도록 last-child를 활용 */
.swiper-slide:last-child {
    margin-right: 0; /* 마지막 요소에는 오른쪽 간격을 제거 */
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.thema_box {
    width: 62px;
    text-align: center;
    cursor: pointer;
}

.thema_sw .thema_box {
    width: 62px;
    text-align: center;
    cursor: pointer;
}

.img_ar {
    width: 48px;
    height: 48px; /* 고정된 높이로 설정 */
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.thema_sw .swiper-slide .img_ar {
    height: 48px;
    position: relative;
    overflow: hidden;
}

.thema_sw .thema_box .img_ar {
    width: 48px;
    margin: 0 auto;
}

.img_box {
    width: 100%; /* 부모 요소에 맞게 이미지 박스의 너비를 설정 */
    height: 100%; /* 부모 요소에 맞게 이미지 박스의 높이를 설정 */
}

.img_box > img {
    width: 100%; /* 이미지가 부모 요소의 너비에 맞게 조정 */
    height: auto; /* 이미지의 높이는 자동 조정 */
}

.thema_sw .swiper-slide.on .img_ar .img_box {
    position: absolute;
    left: 0;
    right: auto;
    top: 0;
}

.thema_sw .swiper-slide .img_ar .img_box {
    width: 86px;
    position: absolute;
    right: 0;
    left: auto;
    top: 0;
}

.thema_sw .swiper-slide .img_ar .img_box > img {
    width: 100%;
}

.thema_box > p {
    font-size: 13px;
    font-weight: 300;
    color: #333;
    padding: 3px 0 5px;
    line-height: 19px;
    margin: 0; /* 추가 마진 제거 */
}

.thema_sw .thema_box > p {
    font-size: 13px;
    font-weight: 300;
    color: #333;
    padding: 3px 0 5px;
    line-height: 19px;
}

.thema_sw .thema_box {
    width: 62px;
    text-align: center;
    cursor: pointer;
}

.thema_sw .swiper-slide .img_ar {
    height: 48px;
    position: relative;
    overflow: hidden;
}

.thema_sw .thema_box .img_ar {
    width: 48px;
    margin: 0 auto;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: inherit;
    box-sizing: border-box;
    word-break: break-all;
}

.list_top {
    width: 100%;
    height: 44px;
    background: #fff;
    padding: 0 44px;
    display: table;
}

.list_top .total {
    width: calc(100% - 120px);
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    font-size: 13px;
    color: rgb(119, 121, 128);
    font-weight: 400;
}

.list_top .total > strong {
    font-weight: 500;
    font-size: 14px;
    color: rgb(14, 187, 164);
    vertical-align: baseline;
    font-family: "Roboto", sans-serif;
}

strong {
    font-weight: bold;
}

.list_top .sort_ar {
    display: table-cell;
    position: relative;
    width: 120px;
    vertical-align: middle;
    text-align: right;
    padding-right: 0rem;
}

.list_top .sort_ar .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 1.3rem;
    color: #fff;
    width: 100%;
    height: 20px;
}

.list_top .sort_ar .select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

button, select {
    text-transform: none;
    outline: none;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 1.4rem;
    margin: 0;
}

.list_top .sort_ar .select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: unset;
    padding: 0px 30px 0 15px;
    box-sizing: border-box;
    color: #333;
    line-height: 21px;
    font-size: 13px;
    overflow: hidden;
    border-radius: 7px;
}

.list_top .sort_ar .select-styled:after {
    content: "";
    width: 12px;
    height: 12px;
    background: url(https://imagec.multicon.co.kr/ServiceCommon/jandi/resources/images/ic-down.svg) no-repeat;
    background-size: 12px;
    position: absolute;
    top: 6px;
    right: 10px;
}

.list_top .sort_ar .select-options {
    display: none;
    position: absolute;
    top: 34px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    right: 0;
    left: 0;
    border-radius: 4px;
    z-index: 999;
    margin: -2px 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #bababa;
}

.list_top .sort_ar .select-options > li:first-child {
    border-top: 0;
    background: #fff;
}

.list_top .sort_ar .select-options > li {
    height: auto !important;
    border-top: 1px solid #bababa;
    margin: 0;
    padding: 10px 15px;
    text-indent: 0px;
    font-size: 1.3rem;
    color: #7e7e7e;
    text-align: left;
}

.list_area .list_type_a > ul > li .price_info > span {
    display: block;
    /* font-size: 13px; */
}

.original-price {
    text-decoration: line-through;
    color: #bababa;
    font-size: 13px;
}
.base-price {
    display: block;
    font-size: 16px;
    font-weight: 600;
}
.discounted-price {
    font-size: 13px;
    color: #bababa;
    text-decoration: line-through;
}

.list_area .list_type_a > ul > li .price_info > em {
    padding-right: 4px;
    display: inline-block;
    color: #e22626;
    font-size: 16px;
    vertical-align: middle;
}

/* 검색 부분 */
.brand_content {
    width: 100%;
    border-top: 1px solid #f1f1f1;
}

.sub_search {
    width: 100%;
    padding: 19px 44px;
    background: #f5f8fa;
}

.sh_ar {
    position: relative;
}

.sh_ar > input {
    width: 100%;
    height: 42px;
    padding-right: 80px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 4px;
    background: #fff;
    padding-left: 16px;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 4px;
}

.sh_ar > button {
    width: 20px;
    height: 20px;
    background: none;
    position: absolute;
    top: 8px;
    right: 16px;
    padding: 0;
    color: rgb(136, 136, 136);
}

.sh_ar > button > img {
    width: 100%;
}

.list_area.min {
    width: 100%;
    border-top: 1px solid #f1f1f1;
}

.list_area .none_data {
    width: 100%;
    height: calc(100vh - 337px);
    font-size: 16px;
    color: #7e7e7e;
    text-align: center;
    padding-top: 20%;
}

.list_top {
    width: 100%;
    height: 44px;
    background: #fff;
    padding: 0 44px;
    display: table;
}

.list_top .total {
    width: calc(100% - 120px);
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    font-size: 13px;
    color: rgb(119, 121, 128);
    font-weight: 400;
}

.list_top .total > strong {
    font-weight: 500;
    font-size: 14px;
    color: rgb(14, 187, 164);
    vertical-align: baseline;
    font-family: "Roboto", sans-serif;
}

/* 제품 상세 */
.p_detail {
    width: 100%;
}

.p_detail .img_box {
    width: 360px;
    padding: 0 0;
    margin: 0 auto;
    position: relative;
}

.p_detail .img_box > img {
    width: 100%;
}

.p_detail .p_d_info {
    width: 100%;
    padding: 0 44px 24px;
}

.p_detail .p_d_info .brand_name {
    font-size: 13px;
    color: #333;
    font-weight: 400;
}

.p_detail .p_d_info > h5 {
    font-size: 18px;
    margin-top: 2px;
    line-height: 1.4;
    color: #333;
    font-weight: 400;
}

.p_detail .p_d_info .sale_price {
    font-size: 13px;
    color: rgb(170, 174, 179);
    text-decoration: line-through;
    margin-top: 16px;
}

.p_detail .p_d_info .sale_price > em {
    font-size: 13px;
    vertical-align: baseline;
    font-weight: 300;
}

.p_detail .p_d_info .sele_percent {
    display: inline-block;
    margin-top: 2px;
    vertical-align: bottom;
    font-size: 22px;
    font-weight: 600;
    color: rgb(14, 187, 164);
    padding-right: 4px;
}

.p_detail .p_d_info .real_price {
    display: inline-block;
    margin-top: 2px;
    vertical-align: bottom;
    font-size: 20px;
    font-weight: 500;
    color: rgb(46, 50, 56);
    margin-left: 4px;
}

.p_detail .p_d_info .date_ar {
    margin-top: 13px;
    font-size: 0;
}

.p_detail .p_d_info .real_price > em {
    font-size: 22px;
    font-weight: 600;
    vertical-align: baseline;
}

.p_detail .p_d_info .date_ar .bl_title {
    display: inline-block;
    color: rgb(14, 187, 164);
    font-size: 14px;
    padding-right: 12px;
    font-weight: 400;
    vertical-align: middle;
}

/* 쿠폰 상세 정보 부분 */
.detail_to {
    padding: 0px 0px 0;
    background: #fff;
    border-top: 1px solid #f1f1f1;
}

.detail_to .ad_info {
    width: 100%;
    padding: 0 0px;
    background: #fff;
}

.detail_to .ad_info .btn_ad_01 {
    display: block;
    width: calc(100% - 88px);
    margin: 0 auto;
    height: 52px;
    line-height: 52px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(46, 50, 56);
    background: url(https://imagec.multicon.co.kr/ServiceCommon/jandi/resources/images/ic-barnd-bottom.svg) right center no-repeat;
    background-size: 17px;
}

.detail_to .ad_info .info_inner {
    border-top: 1px solid rgb(226, 229, 231);
    padding: 0 44px;
}

.detail_to .ad_info .info_inner > div {
    padding-bottom: 16px;
}

.detail_to .ad_info .info_inner > div > h3:first-child {
    margin-top: 12px;
}

.detail_to .ad_info .info_inner > div > p {
    margin-top: 4px;
    font-size: 13px;
    color: rgb(46, 50, 56);
    font-weight: 400;
}

.detail_to .ad_info .info_inner > div > h3 {
    margin-top: 16px;
    font-size: 13px;
    color: rgb(119, 121, 128);
    font-weight: 400;
}

.detail_to .ad_info .info_inner > div > h3 {
    margin-top: 16px;
    font-size: 13px;
    color: rgb(119, 121, 128);
    font-weight: 400;
}

/* 결제 정보 */
.pament_info {
    width: 100%;
    border-top: 10px solid #f1f1f1;
}

.pament_info > h2 {
    padding: 30px 44px 26px;
    font-size: 20px;
    font-weight: 400;
    color: #333;
   line-height: 29px;
}

.pament_info .payment_content {
    width: 100%;
    padding: 30px 0px;
    border-top: 1px solid #ececec;
}

.gift_tab {
    width: 100%;
}

.gift_tab > h4 {
    width: 100%;
    padding: 0 44px 14px;
    font-size: 0;
}

.gift_tab > h4 > span {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    vertical-align: middle;
}

.gift_tab > h4 > em {
    font-size: 11px;
    font-weight: 300;
    color: #7e7e7e;
    vertical-align: middle;
}

.gift_content {
    width: 100%;
    padding: 30px 44px;
}

.gift_content > ul {
    width: 100%;
}

.gift_content > ul > li:first-child {
    padding-top: 0;
}

.gift_content > ul > li {
    width: 100%;
    padding-top: 10px;
    font-size: 0;
    display: table;
}

.gift_content > ul > li .phone_num {
    display: table-cell;
    vertical-align: middle;
}

.gift_content > ul > li .phone_num > input.name {
    width: 127px;
    text-align: center;
}

.gift_content > ul > li .phone_num > input {
    height: 43px;
    width: auto;
    border: 1px solid #ececec;
    border-radius: 4px;
    font-size: 14px;
    vertical-align: middle;
    color: #333;
}

input[type="text"], input[type="password"], input[type="tel"], input[type="number"] {
    width: 100%;
    height: 28px;
    padding: 0 10px;
    border: solid 1px #ddd;
    border-radius: 7px;
    font-size: 12px;
    color: #444444;
}

button, input {
    line-height: normal;
    outline: none;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 1.4rem;
    margin: 0;
}

.gift_content > ul > li .phone_num > input.number_phone {
    width: calc(100% - 135px);
    margin-left: 8px;
    text-align: left;
    padding: 0 14px;
}

.gift_content > ul > li .counting {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    width: 100px;
}

.gift_content > ul > li .counting .number_c {
    display: inline-block;
    position: relative;
    width: 60px;
    vertical-align: middle;
    text-align: right;
    padding-right: 0rem;
    height: 43px;
    vertical-align: middle;
}

.gift_content > ul > li .counting .number_c .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 1.3rem;
    color: #fff;
    width: 100%;
    height: 43px;
}

.gift_content > ul > li .counting .number_c .select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.gift_content > ul > li .counting .number_c .select-styled {
    position: absolute;
    border: 1px solid #ececec;
    border-radius: 4px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0px 30px 0 15px;
    box-sizing: border-box;
    color: #333;
    line-height: 42px;
    font-size: 14px;
    overflow: hidden;
    border-radius: 4px;
}

.gift_content > ul > li .counting .number_c .select-styled:after {
    content: "";
    width: 12px;
    height: 12px;
    background: url(https://imagec.multicon.co.kr/ServiceCommon/jandi/resources/images/ic-down.svg) no-repeat;
    background-size: 12px;
    position: absolute;
    top: 15px;
    right: 10px;
}

.gift_content > ul > li .counting .number_c .select-options {
    position: absolute;
    top: 43px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    right: 0;
    left: 0px;
    border-radius: 4px;
    z-index: 999;
    margin: 0px 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #bababa;
    width: 60px;
}

.gift_content > ul > li .counting .number_c .select-options > li:first-child {
    border-top: 0;
}

.gift_content > ul > li .counting .number_c .select-options > li {
    height: auto !important;
    border-top: 1px solid #bababa;
    margin: 0;
    padding: 10px 15px;
    text-indent: 0px;
    font-size: 1.3rem;
    color: #7e7e7e;
    text-align: center;
}

#writing > ul > li:last-child .counting .c_min {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 8px;
    background: url(https://imagec.multicon.co.kr/ServiceCommon/jandi/resources/images/ic-add.svg) no-repeat !important;
    background: unset;
    vertical-align: middle;
}

.gift_content > ul > li:first-child .counting .c_min {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 8px;
    background: url(https://imagec.multicon.co.kr/ServiceCommon/jandi/resources/images/ic-del.svg) no-repeat !important;
    background: unset;
    vertical-align: middle;
}

.messge_ar {
    width: 100%;
    border-top: 1px solid #ececec;
    padding: 30px 44px;
}

.messge_ar > h4 {
    font-size: 14px;
    padding-bottom: 16px;
}
 
.me_box {
    width: 100%;
    font-size: 0;
}

.me_box > textarea {
    width: 100%;
    padding: 14px;
    box-sizing: border-box;
    height: 100px;
    border: 1px solid #d8d8d8;
}

textarea {
    width: 100%;
    min-height: 70px;
    padding: 15px;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    overflow: auto;
    vertical-align: top;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 0.9rem;
    margin: 0;
}

.me_box > p {
    text-align: right;
    font-size: 12px;
    color: #7e7e7e;
    padding-top: 8px;
}

.num {
    font-family: "Roboto", sans-serif !important;
}

.sum_payment {
    width: 100%;
    border-top: 1px solid #eee;
    padding: 30px 44px;
    display: table;
}

.sum_payment > span:first-child {
    color: #00c473;
    font-weight: 600;
    text-align: left;
}

.sum_payment > span {
    display: table-cell;
    font-size: 14px;
    text-align: right;
    color: #333;
}

.sum_payment > span > strong {
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
}

.sum_payment > span > em {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
}

.method_area {
    width: 100%;
    border-top: 10px solid #f1f1f1;
    padding: 30px 20px;
}

.method_area > h3 {
    font-size: 14px;
    line-height: 20px;
    color: #333;
    font-weight: 600;
}

.method_area .in_chack {
    width: 100%;
    font-size: 0;
}

.method_area .in_chack .box_radio {
    width: 50%;
    position: relative;
    height: 66px;
    padding-top: 16px;
    display: inline-block;
}

.method_area .in_chack input[type='radio'] {
    position: absolute;
    left: -0.6rem;
    right: 0;
    top: -0.3rem;
    bottom: 0;
    z-index: 10;
    opacity: 0;
    width: 0rem;
    height: 0rem;
    letter-spacing: 0;
    border: none;
    background: none;
    vertical-align: middle;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;
}

button, input {
    line-height: normal;
    outline: none;
}

.method_area .in_chack input[type='radio'] + label {
    height: 50px;
    border: 1px solid #d8d8d8;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    display: block;
    right: 0;
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: calc(100% + 1px);
}

.method_area .in_chack input[type='radio']:checked + label {
    border: 1px solid #00c473;
    color: #00c473;
    z-index: 2;
}

.agreement_ar {
    width: 100%;
    border-top: 10px solid #f1f1f1;
}

.chack_ar {
    width: 100%;
    padding: 30px 44px;
}

.chack_ar .hd_chack {
    padding: 0 0 0px;
    font-size: 0;
}

.chack_ar .hd_chack .check_box_all {
    width: calc(100% - 16px);
    vertical-align: middle;
}

input[type='checkbox'] {
    position: absolute;
    z-index: 10;
    opacity: 0;
    width: 100%;
    letter-spacing: 0;
    border: none;
    vertical-align: middle;
    background: none;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 0.9rem;
    margin: 0;
}

.check_box_all input[type="checkbox"] + label {
    display: inline-block;
    background: url(https://imagec.multicon.co.kr/ServiceCommon/jandi/resources/images/ic-b-check-off.svg) no-repeat;
    background-size: 25px auto;
    background-position: left top;
    padding: 0px 0 0px 35px;
    font-size: 16px;
    line-height: 25px;
    color: #333;
}

.chack_ar .hd_chack .btn_ar {
    display: inline-block;
    width: 16px;
    vertical-align: middle;
}

.chack_ar .hd_chack .btn_ar > button.on {
    background: url(https://imagec.multicon.co.kr/ServiceCommon/jandi/resources/images/ic-barnd-up.svg) center center no-repeat;
    background-size: 14px;
    border: none;
}

.chack_ar .hd_chack .btn_ar > button {
    width: 16px;
    height: 16px;
    background: url(https://imagec.multicon.co.kr/ServiceCommon/jandi/resources/images/ic-barnd-bottom.svg) center center no-repeat;
    background-size: 14px;
    border: none;
}

.chack_ar > ul {
    padding: 20px 0 0;
    display: none;
}

.chack_ar > ul > li {
    width: 100%;
    padding: 5px 0;
    height: auto !important;
    font-size: 0;
}

.chack_ar > ul > li .ch_l {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 16px);
}

.check_box_s {
    width: auto;
    position: relative;
    display: inline-block;
}

.check_box_s input[type="checkbox"] + label {
    display: inline-block;
    background: url(https://imagec.multicon.co.kr/ServiceCommon/jandi/resources/images/ic-s-check-off.svg) no-repeat;
    background-size: 22px auto;
    background-position: left top;
    padding: 0px 0 0px 35px;
    font-size: 13px;
    line-height: 22px;
    color: #333;
}

.check_box_s input[type="checkbox"]:checked + label {
    background: url(https://imagec.multicon.co.kr/ServiceCommon/jandi/resources/images/ic-s-check-on.svg) no-repeat;
    background-size: 22px auto;
    background-position: left top;
    font-size: 13px;
    line-height: 22px;
}

.chack_ar > ul > li .btn_trams {
    display: inline-block;
    width: 16px;
    vertical-align: middle;
}

.chack_ar > ul > li .btn_trams > button {
    width: 16px;
    height: 16px;
    background: url(https://imagec.multicon.co.kr/ServiceCommon/jandi/resources/images/ic-barnd-bottom.svg) center center no-repeat;
    background-size: 14px;
    border: none;
}

.chack_ar > ul > li .in_trems {
    width: 100%;
    display: none;
    background: #f5f8fa;
    margin-top: 10px;
    padding: 14px 35px 20px;
    font-size: 13px;
    color: #2e2e2e;
    font-weight: 300;
}

.button_ar > button {
    display: table-cell;
    width: 100%;
    height: 50px;
    background: #00c473;
    font-size: 18px;
    color: #fff;
}

/* 텍스트와 버튼을 수평 정렬하기 위해 Flexbox 사용 */
.chack_ar .hd_chack {
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: space-between; /* 공간을 균등하게 배분 */
    padding: 0 0 10px; /* 하단 패딩을 추가하여 간격 확보 */
}

/* btn_ar 버튼과 텍스트의 수평 정렬을 위해 flex 속성 추가 */
.chack_ar .hd_chack .btn_ar {
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 중앙 정렬 */
}

.last_btn {
    margin-left: 665px;
    margin-top: -30px;
}

/* 결제완료, 결제 요청 취소 화면 */
.pop_box.full {
    width: 768px;
    height: 100vh;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    display: none;
    border-radius: 0;
}

.pop_box {
    width: 300px;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    display: none;
}

.pop_box.full > button {
    right: 44px;
    top: 38px;
    background: url(https://imagec.multicon.co.kr/ServiceCommon/jandi/resources/images/cross.svg) center center no-repeat;
    background-size: 20px;
    position: absolute;
    width: 24px;
    height: 24px;
}

.pop_box .pop_contnet.ab_mid {
    position: absolute;
    top: 50%;
    margin-top: -300px;
    width: 100%;
}

.pop_box .pop_contnet {
    padding: 40px 20px 30px;
    text-align: center;
}

.pop_box.full .pop_contnet .in_t:first-child {
    margin-top: 0;
}

.pop_box.full .pop_contnet .in_t {
    padding-top: 90px;
}

.pop_box .pop_contnet .str {
    font-size: 14px;
    color: #7e7e7e;
    font-weight: 300;
    margin-top: 4px;
}

.pop_box .pop_contnet .in_t > button.comp {
    background: #00c473;
    color: #fff;
}

.pop_box .pop_contnet .in_t > button {
    width: 30%;
    height: 50px;
    font-size: 14px;
    margin-top: 20px;
}

.pop_box .pop_contnet .poi {
    margin-top: 10px;
    font-size: 12px;
    color: #e22626;
    text-align: center;
}

.pop_box .pop_contnet .in_t > button.cancel {
    background: #26282c;
    color: #fff;
}

/* 쿠폰 */
.coupon_box {
	width: 100%;
}

.coupon_box > ul {
    padding: 19px 44px;
    width: 100%;
    display: table;
}

.coupon_box > ul > li.active {
    background: #00c473;
    color: #fff;
}

.coupon_box > ul > li {
    display: table-cell;
    cursor: pointer;
    width: 50%;
    height: 42px;
    background: #f2f4f8;
    color: #333;
    font-size: 14px;
    text-align: center;
    line-height: 44px;
}

.coupon_box > ul > li:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.coupon_box > ul > li:nth-child(2) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.coupon_area {
    width: 100%;
    background: #f2f4f8;
    min-height: calc(100vh - 291px);
}

.coupon_area .coupon_list {
    width: 100%;
    padding: 10px 44px;
}

.list_area.min {
    width: 100%;
    border-top: 1px solid #f1f1f1;
}

.list_area .none_data {
    width: 100%;
    height: calc(100vh - 337px);
    font-size: 16px;
    color: #7e7e7e;
    text-align: center;
    padding-top: 20%;
}

.purchase_list {
    width: 100%;
    padding: 0;
    background: #fff;
}

.purchase_list .none_data {
    width: 100%;
    height: calc(100vh - 337px);
    font-size: 16px;
    color: #7e7e7e;
    text-align: center;
    padding-top: 20%;
}

