@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 
.fl { float: left; }
 .fr { float: right; }
.border {
	border: 1px solid red;
}
* {
	box-sizing: border-box;
	font-family: Noto Sans KR, sans-serif !important;
}
body {
	margin: 0;
	overflow-y: hidden; 
}
#gift {
	width: 768px;
	height: 800px;
	margin: 0 auto;
	overflow: auto;
}