@charset "UTF-8";
/*--------------------------------메인 구조--------------------------------*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 
*{box-sizing: border-box;
font-family: Noto Sans KR, sans-serif;}
.border{ border: 1px solid red; }
.fl{ float:left; }
.fr{ float:right; }
body{ margin:0; background-color: #fff}
a{ text-decoration-line: none; color: inherit;}
/*--------------------------------헤더--------------------------------*/
#div_header{ /* 헤더 전체 영역 */
	width: 100%;
	height: 196px;
	padding: 0 210px 36px 210px;
	background-image: url('https://downloads.intercomcdn.com/i/o/346407/b8c7a231908b61c588dc3980/3101e8e81257d37571cece18aebe3db3.jpg');
	background-size: 100%;
	margin-bottom: 36px;
}

#div_header_company{ /* 로고 + 나무 + 나무로 이동 */
	top: 0;
	width: 960px;
	height: 61px;
	margin: 0 auto;
	padding-top: 24px;
	
}
#div_header_company > div:nth-child(1) { /* 로고 + 나무 */
	width: 140px;
	height: 35px;
    margin-bottom: 0;
}
#div_header_company > div:nth-child(1)  > div:nth-child(1) > img {
	border-radius: 10px;
}
#div_header_company > div:nth-child(1) > div:nth-child(2) { /* NAMOO */
	font-size: 20px;
	font-weight: 600;	
	margin-left: 10px;
	letter-spacing: 3px;
	color: white;
}
#div_header_company > div:nth-child(2){	/* 나무로 이동  */
	font-size: 14px;
	color: white;
	font-weight: 500;
}
/*--------------------------------검색창--------------------------------*/
#div_header_search{ /* 헤더 검색창 전체 영역 */
	margin: 0 auto;
	margin-top: 50px;
	width: 960px;
	height: 121px;
}
#div_header_search > div:nth-child(1) { /* 검색창 영역 */
	width: 960px;
	height: 62px;
}
#div_header_search > div:nth-child(1) > input { /* 검색창 인풋박스 */
	width: 955px;
	height: 60px;
	padding: 0 30px;
	outline: none;
	border-radius: 10px;
	border: none;
	background-color: hsla(0, 0%, 100%, .2);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12);
	font-size: 20px;
}
#div_header_search > div:nth-child(1) > input::placeholder { /* 검색창 placeholder */
	color: #fff;
}
#div_header_search > div:nth-child(1) > input:hover { /* 검색창 호버 */
	outline: none;
	border: none;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .1);
	transition: 0.7s;
}
#div_header_search > div:nth-child(1) > input:focus { /* 검색창 포커스 */
	background-color: #fff;
	outline: none;
	border: none;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .1);
}
#div_header_search > div:nth-child(1) > input:focus::placeholder{ /* 검색창 포커스시 placeholder색상 */
	color: #858585;
}

/*--------------------------------바디--------------------------------*/
#div_body{
	width: 100%;
	height: 3000px;
	padding: 0 40px;
}
#div_body_area{
	width: 640px;
	height: 2800px;
	margin: 0 auto;
}

/*------------------------------ post --------------------------------*/
#div_post{
	width: 640px;
	height: 2500px;
}
#div_post img {
	max-width: 100%;
}
/* .flex.flex-wrap.items-baseline.pb-4.text-base {
	width: 640px;
	height: 39px;
	padding: 0 0 16px;
	font-size: 14px;
	letter-spacing: 1px;
} */



.no-underline {
    text-decoration-line: none;
}
.text-body-primary-color {
    color: #1a1a1a;
}
.pr-2 {
    padding-right: 8px;
}
#text-body-secondary-color:hover {
    color: #737373;
}
a:hover {
    text-decoration: none;
}
.fill-body-secondary-color {
    fill: #737373;
}
.w-2 {
    width: 8px;
}
.h-2 {
    height: 8px;
}

body {
    font-family: system-ui, "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.6;
    color: #1a1a1a;
	background-color: white;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    height: 100%;
    min-height: 100%;
}

#__next, main {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}


























