@charset "UTF-8";
/*--------------------------------메인 구조--------------------------------*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 
.fl { float: left; }
.fr { float: right; }
.ab { position: absolute; }
.re { position: relative; }
* {
	box-sizing: border-box;
	font-family: Noto Sans KR, sans-serif !important;
}
.border { border: 1px solid red; }
body { margin: 0; overflow-y: hidden; }
a{ text-decoration-line: none; color: inherit;}

/*----------------담당자 검색 부분------------------------*/
#member_select {
	margin: 0 auto;
	width: 280px;
	height: 360px;
	border-radius: 4px;
	border: 1px solid #ddd;
	
}

#search1 {
	height: 65px;
}
#search {
	width: 250px;
    height: 34px;
    padding: 0 74px 0 38px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
    font-weight: 500;
    margin: 10px 0 0 14px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    
}
#search:focus {
	outline: none;
	border: 1px solid #cfebd3;
}

#search_icon {
	margin: 18px 0 0 20px;
}
/*----------------선택된 멤버------------------------*/
#select_member {
	height: 50px;
	display: flex;
	overflow: hidden;
	overflow-x: scroll;
	
}
#select_member::-webkit-scrollbar {
    display: none;
}
#box {
	width: 95px;
	height: 30px;
	border-radius: 5px;
	background: #EBF5F1;
	margin: 5px 0 0 5px;
}
#box:hover {
	border: 1px solid #00b01c;
}
#mini_profile {
	width: 26px;
	border-radius: 5px 0 0 5px;
	margin-top: 2px;
}
#x_img {
	width: 20px;
    height: 20px;
	background: url("https://flow.team/flow-renewal/assets/images/sprite-project-detail.png?v=72e3932a585aea3cb30fd85bdbddeb5c65a4c9d1")
	no-repeat -190px -75px / 844px auto;
	vertical-align: middle;
	margin-left: 70px;
	margin-top: 5px;
	outline: none;
	border: none;
	
}
#x_img:hover  {
	 
	  filter: invert(70%) sepia(45%) saturate(4172%) hue-rotate(107deg) brightness(97%) contrast(80%);
}
#mini_profile_name {
	font-size: 14px;
	margin-left: 30px;
	margin-top: 4px;
	color: #555555;
	font-weight: 500;
}
/*----------------멤버 전체------------------------*/
#allmember {
	height: 195px;
	overflow: hidden;
	overflow-y: scroll;
}
#allmember::-webkit-scrollbar {
    display: none;
}

/*----------------멤버 프로필 부분------------------------*/
#member {
	height: 60px;
	border-bottom: 1px solid #ddd;
	background: #EBF5F1;
}

/*------멤버 프로필(선택이미지)---------*/
#check {
	width: 22px;
	margin: 19px 10px 0 10px;
	border-radius: 15px;
}
/*------멤버 프로필(프로필이미지)---------*/
#profile {
	width: 40px;
	margin-top: 10px;
	border-radius: 15px;
}
#name {
	margin: 18px 0 0 15px;
	font-weight: 700;
    color: #555;
}
/*----------------bottom------------------------*/

#bottom {
	margin-top: 10px;
	margin-left: 12px;
}
#delete, #select {
	width: 125px;
	height: 26px;
}
#select {
	outline: none;
	border: #00b01c;
	background: #00b01c;
	color: white;
	border-radius: 5px;
	font-weight: 500;
}
#delete {
	
	border: #DDDDDD;
	font-weight: 500;
	border-radius: 5px;
	color: #9999A4;
	background: #ddd;
}