@charset "UTF-8";
/*============================== 메인 구조==============================*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 
*{box-sizing: border-box;
font-family: Noto Sans KR, sans-serif;}
.border{ border: 1px solid green; }
.fl{ float:left; }
.fr{ float:right; }
body{ margin:0; background-color: #fff; overflow-y: hidden;}
a{ text-decoration-line: none; color: inherit;}
/*================================ 바디 ================================*/
#div_dashboard{ /* 대시보드  */
	width: 1657px;
	height: 886px;
	background-color: rgba(0,196,115,.08);
	overflow: hidden;
	overflow: scroll;
	overflow-x: hidden;
	padding: 0 0 100px;
}
#div_dashboard::-webkit-scrollbar {
	display: none;
}
#div_dashboard_area{ 	/* 대시보드 영역 */
	max-width: 1020px;
	max-height: 1020px;
	padding: 80px 0;
	margin: 0 auto;
	padding-bottom: 50px; 
}
/*================================ 헤더================================*/
#div_dashboard_header{ /* 헤더 영역 */
	width: 1020px;
	height: 80px;
	font-size: 27px;
}
#div_dashboard_header > div:nth-child(1) { /* 헤더 인사  */
	width: 800px;
	height: 40px; 
	line-height: 40px;
    font-weight: 700;
}
#div_dashboard_header > div:nth-child(2){ /* 헤더 날짜 */
	width: 170px;
	height: 40px;
	font-size: 16px;
}
#div_dashboard_header > div:nth-child(3){ /* 헤더 위젯 설정*/
	width: 100px;
	height: 34px;
	border: 1px solid #000;
	padding: 4px 8px;
	border-radius: 6px; 
	margin-top: 5px;
	cursor: pointer;
}
#div_dashboard_header > div:nth-child(3):hover{ /* 헤더 위젯 설정 호버 */
	border-color: #1edc8b;
	color: #1edc8b;
}
#div_dashboard_header > div:nth-child(3) > img { /* 헤더 위젯설정 이미지  */
	width: 20px;
	margin-bottom: 10px;
}
#div_dashboard_header > div:nth-child(3):hover > img { /* 위젯설정 이미지 호버 */
    filter: invert(70%) sepia(45%) saturate(4172%) hue-rotate(107deg) brightness(97%) contrast(80%);
}
#div_dashboard_header > div:nth-child(3) > div { /* '위젯설정' 글씨 */
	font-size: 13px;
	width: 54px;
	height: 20px;
	margin-top: 1px;
}
/*================================위젯 ================================*/
.add_widget{ 	/* 위젯추가 클래스 */
	width : 420px;
	height: 276px;
	margin: 5px;
	padding: 17px 0 10px;
	border: 1px solid #fff;
	transition: all .1s ease;
	background: rgba(255, 255, 255, .55);
	box-shadow: 0 0 10px rgba(0, 0, 0, .15);
	border-radius: 13px;
	cursor: pointer;
}
.add_widget:hover{ /* 위젯 추가 호버 */
	background: #fff;
}
.widget_big{ 	/* 큰 위젯버전 클래스 */
	width : 670px;
	height: 276px;
	margin: 5px;
	padding: 17px 0 10px;
	border: 1px solid #fff;
	transition: all .1s ease;
	background: rgba(255, 255, 255, .75);
	box-shadow: 0 0 10px rgba(0, 0, 0, .15);
	border-radius: 13px;

}
.widget_big:hover{ /* 큰 위젯 호버 */
	background: #fff;
}
.widget_small{	/* 작은 위젯버전 클래스 */
	width : 330px;
	height: 276px;
	margin: 5px;
	padding: 17px 0 10px;
	border: 1px solid #fff;
	transition: all .1s ease;
	background: rgba(255, 255, 255, .75);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	border-radius: 13px;
}
.widget_small:hover{
	background: #fff;
}
.widget_header{ /* 위젯 헤더 클래스*/
	width: 100%;
	height: 28px;
	margin-bottom: 10px;
	padding: 0 30px;
	font-size: 17px;
	font-weight: 700;
	line-height: 28px;
}
.widget_menu_icon{ /* 위젯 목록 아이콘 클래스 */
	position: relative;
	background-image: url("https://cdn-icons-png.flaticon.com/512/8373/8373399.png");
	background-size: 100%;
	float: right;
	width: 25px;
	height: 28px;
	cursor: pointer;
}
.widget_article{ /* 위젯 내용 부분 영역 */
	width: 100%;
	height: 219px;
	padding: 5px 16px 0 30px;
	color: #333;
}
#div_widget{
	width: 1020px;
	padding: 20px 0 50px 0;
}
textarea{ /* 메모장 입력 영역 */
	width: 100%;
	height: 210px;
	outline: none;
	border: none;
	background-color: transparent;
	resize: none;
}
/*===========================위젯 추가 위젯 ================================*/
#div_add_widget > div:nth-child(1){ /* 플러스 아이콘 */
	width: 40px;
	height: 40px;
	background-image: url("https://flow.team/flow-renewal/assets/images/dashboard/dashboard-prj-empty.svg?v=d51eb8c7feedbd37b9dbcae8863de0050e4b9289");
	background-size: 102%;
	filter:invert(10%) sepia(49%) saturate(500%) hue-rotate(230deg) brightness(140%) contrast(100%);
	margin: 0 auto;
	margin-top: 75px;
	margin-bottom: 16px;
	border-radius: 46px;
}
#div_add_widget > div:nth-child(2){ /* '위젯을 추가해 주세요' */
	text-align: center;
	color: #333;
    font-size: 13px;
    line-height: 19px;
    font-weight: 500;
}
/*=============================위젯 크기 변경================================*/
#transparent_screen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(1,1,1,0);	
	display: none;
	z-index: 1;
}
.change_widget_size{ /* 위젯 삭제 + 큰 위젯으로 변경 */
	position: absolute;
	top: 30px;
	right: 15px;
	width: 130px;
	height: 66px;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 5px;
	/* margin-top: -230px;
	margin-left: 500px; */
	padding: 8px 14px;
	font-size: 12px;
	font-weight: 500;
	color: #555;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, .15);
	display: none;
	z-index: 2;
}
.change_widget_size > div:nth-child(1){ /* 위젯삭제 */
	height: 18px; 
	cursor: pointer;
	margin-bottom: 4px;
}
.change_widget_size > div:nth-child(1):hover { /* 위젯삭제 호버 */
	color:  #1edc8b;
}
.change_widget_size > div:nth-child(2) {	/* 큰 위젯으로 변경 */
	height: 18px;
	cursor: pointer;
}
.change_widget_size > div:nth-child(2):hover { /* 위젯삭제 호버 */
	color: #1edc8b;
}
/*================================파일함==================================*/
.filebox_file_big{
	width: 298px;
	height: 55px;
	margin-bottom: 10px;
	background: #fff;
	box-shadow: 0 0 4px rgba(0, 0, 0, .1);
	border-radius: 6px;
}
.filebox_file_small{
	width: 270px;
	height: 55px;
	margin-bottom: 10px;
	background: #fff;
	box-shadow: 0 0 4px rgba(0, 0, 0, .1);
	border-radius: 6px;
}
/*  ______________________ 파일함 초기창 큰 버전_____________________________ */
#big_filebox_prime{ /* 큰 파일함 초기 이미지 */
	background: url("https://flow.team/flow-renewal/assets/images/dashboard/emptyimg/widget-null-06.svg?v=b8b7d34f91c5e3ddfcb67cf2a45724109daa9e7b")
				no-repeat bottom center/100%;
	background-size: 100%;
	font-size: 13px;
	color: #777777;
}
.add_button { /* [추가] 버튼 */
	width: 57px;
	height: 32px;
	color: #000000;
	background-color: #fff;
	font-size: 12px;
	font-weight: 700;
    padding: 6px 16px;
    border: 1px solid #999;
    border-radius: 15px;
    margin-right: 25px;
    cursor: pointer;
}
.add_button:hover { /* [추가]버튼 호버 */
	background-color: #999;
	color: #fff;
}
/*  ______________________ 파일함 초기창 작은 버전_____________________________ */
#small_filebox_prime{ /* 큰 파일함 초키 이미지 */
	background: url("https://flow.team/flow-renewal/assets/images/dashboard/emptyimg/widget-null-06-1.svg?v=9e3e6625ea26c7d33fc896022b56f0c89855f18f")
				no-repeat bottom center/100%;
	background-size: 100%;
	font-size: 13px;
	color: #777777;
}
.add_button { /* [추가] 버튼 */
	width: 57px;
	height: 32px;
	color: #000000;
	background-color: #fff;
	font-size: 12px;
	font-weight: 700;
    padding: 6px 16px;
    border: 1px solid #999;
    border-radius: 15px;
    margin-right: 25px;
    cursor: pointer;
}
.add_button:hover { /* [추가]버튼 호버 */
	background-color: #999;
	color: #fff;
}
/*  ___________________________파일함 큰 버전_____________________________ */
.filebox_file_big.margin_left {
	margin-left: 10px;
}
#widget_file_big {	/* 파일 전체 영역*/
	cursor: pointer;
	margin-bottom: 10px;
}
#widget_file_big > div:nth-child(1){ /* 파일 이미지 영역 */
	width: 60px;
	height: 60px;
}
#widget_file_big > div:nth-child(1) > img {/* 파일 타입 이미지 */
	width: 36px;
	margin: 9.5px 12px;
	border-radius: 12px;
}
#widget_file_big > div:nth-child(2){ /* 파일 글자 영역 */
	width: 238px;
	height: 60px;
	font-size: 14px;
	padding: 10px 0;
}
#first_row { /* 첫줄 영역 */
	height: 20px;
}
#first_row >  div:nth-child(1){ /* 파일명 */
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap; 
	max-width: 154px;
	margin: 0 6px 0 0;
	color: #555;
    font-weight: 700;
}
#first_row >  div:nth-child(2){ /* 파일용량 */
	min-width: 60px;
	height: 20px;
	font-size: 13px;
	color: #999999;
	line-height: 20px;
    font-weight: 400;
    margin-right: 10px;
}
#second_row{ /* 두번째 줄(올린사람 + 올린날짜 )*/
	height: 20px;
}
#second_row > div:nth-child(1){ /* 올린 사람 */
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #777;
    font-weight: 400;
    font-size: 12px;
    margin-right: 6px;
}
#second_row > div:nth-child(2){/* 업로드 날짜 */
	min-width: 100px;
    color: #999;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}
#widget_file_big:hover div{ /* 글자 호버 효과 */
	color:  #1edc8b !important;
}
/*  ___________________________작은 파일함_____________________________ */
#widget_file_small {	/* 파일 전체 영역*/
	cursor: pointer;
	margin-bottom: 10px;
}
#widget_file_small > div:nth-child(1){ /* 파일 이미지 영역 */
	width: 60px;
	height: 60px;
}
#widget_file_small > div:nth-child(1) > img {/* 파일 타입 이미지 */
	width: 36px;
	margin: 9.5px 12px;
	border-radius: 12px;
}
#widget_file_small > div:nth-child(2){ /* 파일 글자 영역 */
	width: 210px;
	height: 60px;
	font-size: 14px;
	padding: 10px 0;
}
#first_row { /* 첫줄 영역 */
	height: 20px;
}
#first_row >  div:nth-child(1){ /* 파일명 */
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap; 
	max-width: 154px;
	margin: 0 6px 0 0;
	color: #555;
    font-weight: 700;
}
#first_row >  div:nth-child(2){ /* 파일용량 */
	min-width: 60px;
	height: 20px;
	font-size: 13px;
	color: #999999;
	line-height: 20px;
    font-weight: 400;
    margin-right: 10px;
}
#second_row{ /* 두번째 줄(올린사람 + 올린날짜 )*/
	height: 20px;
}
#second_row > div:nth-child(1){ /* 올린 사람 */
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #777;
    font-weight: 400;
    font-size: 12px;
    margin-right: 6px;
}
#second_row > div:nth-child(2){/* 업로드 날짜 */
	min-width: 100px;
    color: #999;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}
#widget_file_small:hover div{ /* 글자 호버 효과 */
	color:  #1edc8b;
}
/*==============================프로젝트==================================*/
/*_________________________프로젝트 초기창 큰 버전____________________________*/
#big_project_prime{ /* 초기창 큰 버전 영역 및 배경 */
	background: url("https://flow.team/flow-renewal/assets/images/dashboard/emptyimg/widget-null-02-1.svg?v=417baeee03965f7ab897e6f059100dcae28c66bc")
				no-repeat bottom center/100%;
	background-size: 100%;
	font-size: 13px;
	color: #777777;
}
#big_project_prime > div:nth-child(1){ /* 선택된 프로젝트가 없습니다~ */
	width: 200px;
	margin: 20px auto;
	text-align: center;
	margin-top: 20px;
}
#big_project_prime > div:nth-child(2){	/* 추가버튼 */
	margin: 0 auto;
}
/*  _____________________프로젝트 초기창 작은 버전__________________________ */
#small_project_prime{ /* 초기창 큰 버전 영역 및 배경 */
	background: url("https://flow.team/flow-renewal/assets/images/dashboard/emptyimg/widget-null-02.svg?v=3402c6413d5c1d980bd70bdd82b1f8775fd59fe9")
				no-repeat bottom center/100%;
	background-size: 100%;
	font-size: 13px;
	color: #777777;
}
#small_project_prime > div:nth-child(1){ /* 선택된 프로젝트가 없습니다~ */
	width: 200px;
	margin: 20px auto;
	text-align: center;
	margin-top: 20px;
}
#small_project_prime > div:nth-child(2){	/* 추가버튼 */
	margin: 0 auto;
}
/*____________________________프로젝트 큰 버전____________________________ */
#big_project_table{ /* 프로젝트 내용 영역 */
	width: 100%;
	height: 205px; 
	margin-left: -15px;
	overflow: scroll;
	overflow-x: hidden;
}
#big_project_table::-webkit-scrollbar{ /* 프로젝트 내용 스크롤 */
	display: none;
}
.project_td{ /* 테이블 간격 */
	border-collapse: separate;
    border-spacing: 15px 5px ;
}
#big_project_table > table{ /* 테이블 */
	font-size: 14px;
}
#big_project_table > table tr { /* 행 커서 효과 */
	cursor: pointer;
}
#big_project_table > table tr:hover{ /* 행 호버 효과 */
	color: #1edc8b;
}
#big_project_table td{ /* 업무이름 길이 숨기기 */
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap; 
	max-width: 581px;
}
/*____________________________프로젝트 작은 버전____________________________ */
#small_project_table{
	width: 100%;
	height: 205px; 
	margin-left: -15px;
	overflow: scroll;
	overflow-x: hidden;
	font-size: 14px;
	text-overflow: ellipsis;
}
#small_project_table::-webkit-scrollbar{ /* 프로젝트 내용 스크롤 */
	display: none;
}
#small_project_table > table{ /* 테이블 */
	font-size: 14px;
}
#small_project_table > table tr { /* 행 커서 효과 */
	cursor: pointer;
}
#small_project_table > table tr:hover{ /* 행 호버 효과 */
	color: #1edc8b;
}
#small_project_table td{ /* 업무이름 길이 숨기기 */
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap; 
	max-width: 241px;
}
/*____________________________프로젝트 아이콘____________________________ */
.post_icon { /* 게시글 아이콘 */
	width: 15px;
	height: 15px;
	background-image: url("https://www.flaticon.com/svg/vstatic/svg/9795/9795644.svg?token=exp=1718847852~hmac=f64ee7688e35e7f791df68335b5fe7b1");
	background-size: 100%;
	filter: invert(58%) sepia(91%) saturate(727%) hue-rotate(330deg) brightness(100%) contrast(99%);
}
.todo_icon { /* 투두 아이콘 */
	width: 15px;
	height: 15px;
	background-image: url("https://cdn-icons-png.flaticon.com/512/10758/10758561.png");
	background-size: 100%;
	filter: invert(50%) sepia(98%) saturate(2497%) hue-rotate(170deg) brightness(105%) contrast(107%);
}
.task_icon{ /* 업무 아이콘 */
	width: 15px;
	height: 15px;
	background-image: url("https://www.flaticon.com/svg/vstatic/svg/15399/15399621.svg?token=exp=1718785228~hmac=ad11809aa9b1b0e7fd81c65fd8b51da8");
	background-size: 100%;
	filter: invert(70%) sepia(45%) saturate(4172%) hue-rotate(107deg) brightness(97%) contrast(80%);
}
.mention_icon{ /* 언급 아이콘 */
	width: 15px;
	height: 15px;
	background-image: url("https://www.flaticon.com/svg/vstatic/svg/9821/9821728.svg?token=exp=1718784161~hmac=712f0f6bc344bacdc7fd0a3a1f92e514");
	background-size: 100%;
	filter: invert(69%) sepia(0%) saturate(4%) hue-rotate(141deg) brightness(100%) contrast(76%);
}
/*=============================미확인알림==================================*/
/*  _____________________미확인알림 초기창 큰 버전__________________________ */
#big_unread_notification_prime{ /* 초기창 큰 버전 영역 및 배경 */
	background: url("https://flow.team/flow-renewal/assets/images/dashboard/emptyimg/widget-null-09-1.svg?v=7e8868ef31aaa0a5f5b5e8eb5ab7a5cb794d4a32")
				no-repeat bottom center/100%;
	background-size: 100%;
	font-size: 13px;
	color: #777777;
}
#big_unread_notification_prime > div:nth-child(1){ /*'모든 알림을 확인했습니다.'*/
	width: 200px;
	margin: 20px auto;
	text-align: center;
	margin-top: 20px;
}
/*  _____________________미확인알림 초기창 작은 버전__________________________ */
#small_unread_notification_prime{ /* 초기창 작은 버전 영역 및 배경 */
	background: url("https://flow.team/flow-renewal/assets/images/dashboard/emptyimg/widget-null-09.svg?v=17ae91fbc440c213321ab19e0fd14e7b70bf449f")
				no-repeat bottom center/100%;
	background-size: 100%;
	font-size: 13px;
	color: #777777;
}
#small_unread_notification_prime > div:nth-child(1){ /*'모든 알림을 확인했습니다.'*/
	width: 200px;
	margin: 20px auto;
	text-align: center;
	margin-top: 20px;
}
/*  __________________________미확인알림 큰 버전__________________________ */
.unread_ul{ /* 미확인알림 큰 버전 내용 영역 */
	width: 100%;
	height: 210px;
	margin: 0;
	padding: 5px 20px 0 30px;
	overflow: scroll;
	overflow-x: hidden;
}
.unread_ul::-webkit-scrollbar{ /* 미확인 알림 내용 스크롤 */
	display: none;
}
.unread_ul li { /* 리스트 아래 공간 여백 관리 */
	margin-bottom:-10px;
}
.unread_ul li::marker{ /* 리스트 점 표시 */
	color: #1edc8b;
	font-size: 29px;
	line-height: 0;
}
.list_area{ /* 리스트 위치 조정용 */
	width: 100%;
	height: 80px;
	padding-left: 10px; 
	margin-left: -23.06px;
	cursor: pointer; 
}
li:not(:last-child) .list_border{ /* 마지막 알림에는 선 안뜨게 */
	border: solid #DCDCDC;
	border-width: 0 0 0 0.3px; 
}
.unread_ul > li:hover div{
	color: #1edc8b;
}
.list_1{ /* 채팅방 이름 */
	color: #555;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
}
.list_2{ /* 알림 이름 */
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    color: #333;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
}
.list_3{ /* 알림 내용 */
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: initial;
    word-wrap: break-word;
    color: #1bbf79;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 5px;
}
/*==============================팝업창==================================*/
/*____________________________프로젝트 팝업_____________________________ */
#grey_screen1 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);		
	z-index: 1;
    display: none;
}
#grey_screen2 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);		
	z-index: 1;
    display: none;
}
#popup_add_project { /* 프로젝트 창 */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);		
    width: 674px;
    min-height: 450px;
    max-height: 670px;
    padding: 20px 30px 20px 30px;
    background: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .2);
    border-radius: 10px;
    z-index: 2;
    display: none;
}
#project_popup_header{ /* 프로젝트 팝업: 헤더 영역 */
	width: 100%;
	height: 24px;
}
#project_popup_header > div:nth-child(1){ /* 헤더: '프로젝트 선택' */
	font-size: 16px;
	font-weight: 700;
}
#project_popup_header > div:nth-child(2){ /* X 표시 */
	width: 24px;
	height: 24px; 
	background: url("https://cdn-icons-png.flaticon.com/512/3482/3482248.png");
	background-size: 100%;
	font-size: 13px;
	filter: invert(54%) sepia(12%) saturate(18%) hue-rotate(332deg) brightness(84%) contrast(91%);
	cursor: pointer;
}
#project_popup_header > div:nth-child(2):hover{
	filter: invert(70%) sepia(45%) saturate(4172%) hue-rotate(107deg) brightness(97%) contrast(80%);
}
#project_popup_search{ /* 프로젝트 팝업: 검색창 영역 */
	position: relative;
    margin: 10px 0;
    width: 100%;
    height: 40px;
}
#project_popup_search > input { /* 검색창: 인풋 */
	width: 100%;
	height: 40px;
	border: 1px solid #777777;
	border-radius: 5px;
	padding-left: 40px; 
}
#project_popup_search > input:focus{ /* 검색창 포커스  */
	outline: none;
}
#project_popup_search > div:nth-child(2){ /* 검색창: 돋보기 */
	position: absolute;
	top: 13px;
	left: 13px;
	width: 17px;
	height: 17px;
	background-image: url("https://flow.team/flow-renewal/assets/images/icon-search.png?v=738e3370d819d7d936c6bc34b934014e8282c2a9");
	font-size: 13px;
}
#project_popup_area{ /* 프로젝트 팝업: 목록 영역 */
	width: 100%;
	height: 485px;
	font-size: 14px;
	font-weight: 700;
	overflow: scroll;
	overflow-x: hidden;
	font-size: 14px;
	text-overflow: ellipsis;
}
#project_popup_area::-webkit-scrollbar{ /* 프로젝트 목록 스크롤 */
	display: none;
}
.project_popup{ /* 프로젝트 목록 */
	width: 100%;
	height: 52px;
	padding: 10px;
	cursor: pointer;
}
.project_popup div{
	cursor: pointer;
}
.project_popup1{ /* 체크박스 */
	width: 30px;
	height: 30px;
	margin-top: 2px;
	margin-right: 10px;
	cursor: pointer;
}
.project_popup3{ /* 프로젝트 명 */
	font-weight: 700;
    margin-left: 20px;
	max-width: 490px;
    margin-right: 10px;
    margin-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.project_color{ /* 프로젝트 색상 */
	display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background: #8b00ea;
    border: solid 1px #8b00ea;
}
input[type='checkbox']{ /* 기존 체크박스 디자인 삭제 */
	display: none;
}
input[type='checkbox'] + label{
	width: 24px;
    height: 24px;
	display: block;
	cursor: pointer;
	background-image: url('https://flow.team/flow-renewal/assets/images/icons/icon_check.png?v=172ef888989427787e9d9eb0efba4ad9dbe6e289');
	background-repeat: no-repeat;
	background-size: 100%;
}
input[type='checkbox']:checked + label{
 	background-image: url('https://flow.team/flow-renewal/assets/images/icons/icon_check_on.png?v=514e4a85f7dd28f6a931c194a18e2a7621c507df');
	 background-repeat: no-repeat;
	background-size: 100%;
	filter: invert(10%) sepia(20%) saturate(180%) hue-rotate(260deg) brightness(140%) contrast(91%);
}
#project_popup_button{ /* 프로젝트 팝업: 버튼 영역 */
	width: 100%;
	height: 36px;
	padding: 0 113px;
}
#project_popup_button > div:nth-child(1){ /* 취소버튼 */
	width: 182px;
	height: 36px;
	font-size: 13px;
	color: #555555;
	margin: 0 5px;
    line-height: 36px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer; 
}
#project_popup_button > div:nth-child(2) > input{ /* 확인버튼 */
	width: 182px;
	height: 36px;
	font-size: 13px;
	color: #fff;
	margin: 0 5px;
    line-height: 36px;
    text-align: center;
    border-radius: 4px;
    border: none;
    background: #1edc8b;
    cursor: pointer; 
}
/*____________________________위젯 팝업_____________________________ */
#popup_add_widget{ /* 위젯 전체 영역 */
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);		
    width: 890px;
    height: 815px;
    min-height: 450px;
    max-height: 820px;
    background: #fff;
    border: 1px solid #999;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .2);
    border-radius: 10px;
    z-index: 2;
    display: none;
}
#widget_popup_header{ /* 위젯헤더 '위젯 설정' + X*/
	width: 828px;
	height: 30px;
	margin: 30px 30px;
}
#widget_popup_header > div:nth-child(1){ /* 헤더: '프로젝트 선택' */
	font-size: 20px;
	font-weight: 700;
}
#widget_popup_header > div:nth-child(2){ /* X 표시 */
	width: 24px;
	height: 24px; 
	background: url("https://cdn-icons-png.flaticon.com/512/3482/3482248.png");
	background-size: 100%;
	font-size: 13px;
	filter: invert(54%) sepia(12%) saturate(18%) hue-rotate(332deg) brightness(84%) contrast(91%);
	cursor: pointer;
}
#widget_popup_header > div:nth-child(2):hover{ /* X표시 호버 */
	filter: invert(70%) sepia(45%) saturate(4172%) hue-rotate(107deg) brightness(97%) contrast(80%);
}
#widget_popup_body{/* 위젯 설정창: 바디 영역 */
	width: 100%;
	height: 720px;
	padding: 0 40px; 
	overflow: scroll;
	overflow-x: hidden;
	font-size: 14px;
	text-overflow: ellipsis;
}
#widget_popup_body::-webkit-scrollbar{ /* 프로젝트 목록 스크롤 */
	display: none;
}
.widget_popup_big{ /* 위젯 팝업: 위젯 큰 버전 규격 */
	position: relative;
	width: 520px;
	height: 210px;
	margin: 10px 0;
	border-radius: 10px;
	padding: 20px;
	margin-right: 30px;
}
.widget_popup_big_add{ /* 위젯 팝업: 위젯 큰 버전 추가 호버 */
	position: absolute;
	width: 520px;
	height: 210px;
	margin: 10px 0;
	padding: 90px 220px; 
	border-radius: 10px;
	background-color: #1edc8b;
	opacity: 0.85;
	top: -10px;
	left: 0;
	text-align: center;
	z-index: 1;
	display: none;
}
.widget_popup_big_add div { /* '추가'버튼 */
	height: 30px;
	background-color: #fff;
	color: #1edc8b;
	border-radius: 20px;
	padding: 4px 0;
}
.widget_popup_big:hover{
	box-shadow: 10px 10px 20px rgba(0, 0, 0, .2), 0 0 10px rgba(0, 0, 0, .1);
}
.widget_popup_big:hover > div {
	display: block;
}
.widget_popup_big:hover + .widget_add_button_big{
	display: block;
}
.widget_popup_small{ /* 위젯 팝업: 위젯 작은 버전 규격 */
	position: relative;
	width: 250px;
    height: 210px;
    margin: 10px 0;
    border-radius: 10px;
    padding: 20px;
}
.widget_popup_small_add{ /* 위젯 팝업: 위젯 큰 버전 추가 호버 */
	position: absolute;
	width: 250px;
    height: 210px;
	margin: 10px 0;
	padding: 90px 90px; 
	border-radius: 10px;
	background-color: #1edc8b;
	opacity: 0.85;
	top: -10px;
	left: 0;
	text-align: center;
	z-index: 1;
	display: none;
}
.widget_popup_small_add div { /* '추가'버튼 */
	height: 30px;
	background-color: #fff;
	color: #1edc8b;
	border-radius: 20px;
	padding: 4px 0;
}
.widget_popup_small:hover{ 
	box-shadow: 10px 10px 20px rgba(0, 0, 0, .2), 0 0 10px rgba(0, 0, 0, .1);
}
.widget_popup_small:hover > div {
	display: block;
}
.font{ /* 폰트 옵션  */
    top: 15px;
    left: 20px;
    color: #333;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
}
#popup_memo{ /* 위젯 팝업 : 메모 배경 */
	background: url("https://flow.team/flow-renewal/assets/images/dashboard/widgetPick/widget-img-08.png?v=c9af0cdd7f47ff6244e028b4fed8718b07e2afee") 
				no-repeat center / cover;
}
#popup_project{ /* 위젯 팝업 : 프로젝트 배경 */
	background: url("https://flow.team/flow-renewal/assets/images/dashboard/widgetPick/widget-img-11.svg?v=76998b89e8eb9e3dd95faa66d550227fabb9ec15") 
				no-repeat center / cover;
}
#popup_project_added{ /* 위젯 팝업 : 프로젝트 배경 > 추가 후 */
	background: url("https://flow.team/flow-renewal/assets/images/dashboard/widgetPick/widget-img-on-09.png?v=b78c4491aabf7af4bab9d6c4acfbdfb04d19690d") 
				no-repeat center / cover;
	display: none;
}
#popup_filebox{ /* 위젯 팝업 : 파일함 배경 */
	background: url("https://flow.team/flow-renewal/assets/images/dashboard/widgetPick/widget-img-04.png?v=2697c1294dd0d146cea51f5893e3a43a0e84047d") 
				no-repeat center / cover;
}
#popup_mention{ /* 위젯 팝업 : 나를 언급 배경 */
	background: url("https://flow.team/flow-renewal/assets/images/dashboard/widgetPick/widget-img-05.png?v=219ad72dd672afb3634c6b787119dd5e3d60fd23") 
				no-repeat center / cover;
}
#popup_mention_added{ /* 위젯 팝업 : 나를 언급 배경 > 추가후 */
	background: url("https://flow.team/flow-renewal/assets/images/dashboard/widgetPick/widget-img-on-05.png?v=6101f5aa86135eb24f424baffc61f35bc7bd6456") 
				no-repeat center / cover;
	display: none;
}
#popup_bookmark{ /* 위젯 팝업 : 북마크 배경 */
	background: url("https://flow.team/flow-renewal/assets/images/dashboard/widgetPick/widget-img-01.png?v=800f06dd541fb52a8961d63fc90e45366c32b126") 
				no-repeat center / cover;
}
#popup_bookmark_added{ /* 위젯 팝업 : 북마크 배경 > 추가 후 */
	background: url("https://flow.team/flow-renewal/assets/images/dashboard/widgetPick/widget-img-on-01.png?v=2686c6932f5a61110ced22355e53c11b49c866ff") 
				no-repeat center / cover;
	display: none;
}
#popup_notification{ /* 위젯 팝업 : 미확인 알림 배경 */
	background: url("https://flow.team/flow-renewal/assets/images/dashboard/widgetPick/widget-img-03.png?v=2ee66325066dd873a1644235be5bedd72f7fc3f4") 
				no-repeat center / cover;
}
#popup_notification_added{ /* 위젯 팝업 : 미확인알림 배경 > 추가 후 */
	background: url("https://flow.team/flow-renewal/assets/images/dashboard/widgetPick/widget-img-on-03.png?v=c828d505ee818f734042cac712f2ce1694334700") 
				no-repeat center / cover;
	display: none;
}
#div_added_widget{ /* 위젯이 추가 되었습니다. */
	position: absolute;
	width: 162px;
	height: 40px;
	background: #1edc8b;
	color: white;
	font-size: 13px;
	font-weight: 500;
	text-align: center;
	padding: 9px 17px; 
	border-radius: 20px;
	top: 50px;
    left: 370px;
    display: none;
}











