@charset "UTF-8";
/*--------------------------------메인 구조--------------------------------*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 
*{box-sizing: border-box;
font-family: Noto Sans KR, sans-serif;}
.border{ border: 1px solid red; }
.fl{ float:left; }
.fr{ float:right; }
body{ margin:0; background-color: rgb(248, 248, 248);}
a{ text-decoration-line: none; color: inherit;}
/*--------------------------------헤더--------------------------------*/
#div_header{ /* 헤더 전체 영역 */
	width: 100%;
	height: 266px;
	padding: 0 210px 36px 210px;
	background-image: url('https://downloads.intercomcdn.com/i/o/346407/b8c7a231908b61c588dc3980/3101e8e81257d37571cece18aebe3db3.jpg');
	background-size: 100%;
	margin-bottom: 36px;
}

#div_header_company{ /* 로고 + 나무 + 나무로 이동 */
	top: 0;
	width: 960px;
	height: 61px;
	margin: 0 auto;
	padding-top: 24px;
	
}
#div_header_company > div:nth-child(1) { /* 로고 + 나무 */
	width: 140px;
	height: 35px;
    margin-bottom: 0;
}
#div_header_company > div:nth-child(1)  > div:nth-child(1) > img {
	border-radius: 10px;
}
#div_header_company > div:nth-child(1) > div:nth-child(2) { /* NAMOO */
	font-size: 20px;
	font-weight: 600;	
	margin-left: 10px;
	letter-spacing: 3px;
	color: white;
}
#div_header_company > div:nth-child(2){	/* 나무로 이동  */
	font-size: 14px;
	color: white;
	font-weight: 500;
}
/*--------------------------------검색창--------------------------------*/
#div_header_search{ /* 헤더 검색창 전체 영역 */
	margin: 0 auto;
	margin-top: 50px;
	width: 960px;
	height: 121px;
}
#div_header_search > div:nth-child(1){ /* 궁금한 점을 ~ 주세요 */
	height: 35px;
	margin: 0 0 24px;
	font-size: 28px;
	font-weight: 600;
	color: white;
	letter-spacing: 2px;
}
#div_header_search > div:nth-child(2) { /* 검색창 영역 */
	width: 960px;
	height: 62px;
}
#div_header_search > div:nth-child(2) > input { /* 검색창 인풋박스 */
	width: 955px;
	height: 60px;
	padding: 0 30px;
	outline: none;
	border-radius: 10px;
	border: none;
	background-color: #34e39b;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12);
	font-size: 20px;
}
#div_header_search > div:nth-child(2) > input::placeholder { /* 검색창 placeholder */
	color: #fff;
}
#div_header_search > div:nth-child(2) > input:hover { /* 검색창 호버 */
	outline: none;
	border: none;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .1);
	background-color: #36e69e;
	transition: 0.7s;
}
#div_header_search > div:nth-child(2) > input:focus { /* 검색창 포커스 */
	background-color: #fff;
	outline: none;
	border: none;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .1);
}
#div_header_search > div:nth-child(2) > input:focus::placeholder{ /* 검색창 포커스시 placeholder색상 */
	color: #858585;
}
/*--------------------------------바디--------------------------------*/	
#div_body{ /* 바디 */
	height: 1000px;
	padding: 0 40px;
}
#div_search_result_area { /* 검색결과 영역 */
	width: 960px;
	margin: 0 auto;
}
#div_search_result_area > div:nth-child(1){ /* '검색결과' + '검색어' 영역*/
	width: 100%;
	height: 55px;
}
#div_search_result_area > div:nth-child(1) > div:nth-child(1){ /* '검색결과' */
   	padding: 16px 0 11px;
    margin: -5px 0;
    color: #858585;
    font-weight: 600;
    letter-spacing: .02em;
    font-size: 18px;
    margin-right: 10px;
}
#div_search_result_area > div:nth-child(1) > div:nth-child(2){ /* '검색어' */
   	padding: 16px 0 11px;
    margin: -5px 0;
    color: #3a3c4c;
    font-weight: 600;
    letter-spacing: .02em;
    font-size: 18px;
}
.search_result_box { /* 검색결과 박스 */
	width: 100%;
	border: 1px solid #e5e7eb;
	border-radius: 10px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
.search_result_title{ /* 검색 관련 제목 */
	width: 100%;
	height: 23px;
	margin: -5px 0 10px;
	color: #1A1A1A;
	font-weight: 600;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap; 
	max-width: 100%;
}
.search_result_content{ /* 검색 관련 글 내용 */
	width: 100%;
	/* max-height: 50px; */
	margin: -5px 0 2px;
	color: #737373;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap; 
	max-width: 100%;
}
.search_result_box:hover{ /* 박스 호버 */
	border: 1px solid #00c473;
	transition: 0.2s;
}
.search_result_box:hover > .search_result_title{ /* 글자 호버 */
	color: #00c473;
	transition: 0.2s;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	