@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 
.fl { float: left; }
.fr { float: right; }
.ab { position: absolute; }
.re { position: relative; }
* {
	box-sizing: border-box;
	font-family: Noto Sans KR, sans-serif !important;
}
.border { border: 1px solid red; }
body { margin: 0; overflow-y: hidden; }
#div_transparent_filter {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: none;
   background-color: rgba(1,1,1,0);
   z-index: 11;
}
#div_header { 
	width: 100%;
	height: 53px;
	border-bottom: 1px solid #E5E5E5;
}
#div_header > #div_logo {
	width: 32px;
	height: 32px;
	background-color: #FFF !important;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, .12);
       margin-left: 17px;
  		margin-top: 11px;
}
#div_header > #div_logo > img {
	height: 30px;
}
#div_header > #div_select_team {
	height: 32px;
	margin-left: 10px;
  		margin-top: 13px;
}
#div_header > #div_select_team > span {
	font-size: 18px;
	font-weight: 700;
	color: rgb(51,51,51);
}
#div_header > #div_select_team > img {
	margin-top: -5px;
}
#div_menu3, #div_menu4, #div_help, #div_search, #div_hierarchy, #div_notice {
	margin-top: 13px;
	margin-right: 21px;	
}
#div_header > #div_menu4 {
	position: relative;
	width: 44px;
	height: 32px;
}
#div_header > #div_menu4 > img:nth-child(1) {
	position: absolute;
	left: 0;	
}
#div_header > #div_menu4 > img:nth-child(2) {
	position: absolute;
	right: 6px;
	top: -8px;
}
#div_header > #div_help {
	position: relative;	
	height: 32px;
	width: 24px;
}
#div_header > #div_help > img {
	position: absolute;	
	left: 0;
}
#div_header > #div_help > div.on {
	position: absolute;
	top: -2px;
	right: -2px;
	background-color: rgb(255,92,72);
	width: 6px;
	height: 6px;
	border-radius: 3px;
}


#div_side1 {
	width: 263px;
	min-height: 900px;
	border-right: 1px solid #E5E5E5;
}
#div_side1 > div:not(:first-child) { border-top: 1px solid #E5E5E5; }
#div_side1 > div:nth-child(1) { 
	height: 54px; 
	padding: 7px 8px; 
	position: relative;
}
#div_side1 > div:nth-child(1) > img {
	position: absolute;
    top: 12px;
    left: 13px;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	margin-right: 8px;
	border: 1px solid rgb(221, 221, 221);
}
#div_side1 > div:nth-child(1) > div { 
	height:100%; 
	width:100%;
	padding-left: 44px;
    line-height: 40px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
	font-weight: 700;
	color: rgb(51,51,51);
}
#div_side1 > div:nth-child(2) { height: 56px; padding: 12px 8px; }
#div_side1 > div:nth-child(2) > div { 
	height:100%; 
	width:100%; 

    padding: 6px 16px 6px 13px;
    font-weight: 400;
    font-size: 12px;
    border-radius: 6px;
    background-color: #F2F4F8;
    color: #333;
}
#div_side1 > div:nth-child(2) > div > img {
    margin-bottom: -8px;
    margin-top: -8px;
}
#div_side1 > div:nth-child(2) > div > span:nth-child(2) {
	margin-right: 94px;
}
#div_side1 > div:nth-child(2) > div > span:nth-child(3) {
	color: #a2a2a2;
    line-height: 20px;
    font-size: 12px;
    font-weight: 400;
}
#div_side1 > div:nth-child(3) { height: 40px; position: relative; }
#div_side1 > div:nth-child(3) > div:nth-child(1) { position: absolute; left: 10px; }
#div_side1 > div:nth-child(3) > div:nth-child(2) { 
	position: absolute; 
	top: 7px;
	left: 28px;
	font-size: 14px;
    font-weight: 600;
    color: #333;
    line-height: 25px;
}
#div_side1 > div:nth-child(3) > div:nth-child(3) { 
	position: absolute; 
	left: 66px;
	top: 10px; 
	background: rgba(255, 92, 72, .24);
    color: #FF5C48;
    height: 18px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    border-radius: 10px;
    max-width: 41px;
    min-width: 26px;
    padding: 0 7px;
    text-align: center;
}
#div_side1 > div:nth-child(3) > div:nth-child(4) { 
	position: absolute; 
	top:5px; 
	right: 17px; 
}

#div_side1 > div:nth-child(4) { height: 343px;  }

#div_side1 > div:nth-child(5) { height: 47px; position: relative;}
#div_side1 > div:nth-child(5) > div:nth-child(1) {
	position: absolute;
	left: 10px;
}
#div_side1 > div:nth-child(5) > div:nth-child(2) {
	position: absolute;
	top: 7px;
	left: 28px;
	font-size: 14px;
    font-weight: 600;
    color: #333;
    line-height: 25px;
}
#div_side1 > div:nth-child(5) > div:nth-child(3) {
	position: absolute;
	top:5px; 
	right: 17px; 
}


#div_side1 > div:nth-child(6) { height: 265px; }
#div_side1 > div:nth-child(7) { height: 46px; }
#div_side1 > div:nth-child(8) { height: 100%; }

/*--------------------------부서------------------------*/
#div_side2 {
	width: 439px;
	min-height: 900px;
	border-left: 1px solid #E5E5E5;
	
}
#list {
	width: 100%;
	height: 54px;
	border-bottom: 1px solid #E5E5E5;
	padding: 13px 18px 13px 18px;
	
}


#div_bottom {
	width: 100%;
	height: 100%;
}
.organizational_chart_name {
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
}
.total_number {
	margin: 5px 0 0 15px;
	color: #A2A2A2;
    font-size: 13px;
    font-weight: 400;
}
.delete {
	cursor: pointer;
	margin-top: 2px;
}
#search {
	padding: 16px;
	height: 68px;
	
}
#search_input {
	width: 405px;
    height: 36px;
    padding: 0 20px 0 38px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
  	cursor: pointer;
    
}
#search_input:focus {
	border-color: #00C473;
	outline: none;
	
}
#search_icon {
	width: 16px;
	margin: 9px 0 0 10px;
}

#select {
	height: 49px;
	border-bottom: 1px solid #E5E5E5;
	display: flex;
	

}
#teamlist > button {
	text-align: center;
	width: 219px;
	height: 48px;
	font-size: 14px;
    color: #333;
    cursor: pointer;
    background: none;
    border: none;
    border-bottom: 3px solid #00C473;
}

#memberlist > button {
	text-align: center;
	width: 219px;
	height: 48px;
	font-size: 14px;
    color: #333;
	cursor: pointer;
	background: none;
	border: none;
	
}

#select_list {
	padding: 12px 0;
	margin-bottom:10px;
	height: 100px; 
	
}


#bookmark_member > button, #team_name > button {
    padding: 10px 16px 10px 40px;
    width: 439px;
    height: 40px; 
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

#bookmark_member > button > div:nth-child(2), 
#team_name > button > div:nth-child(2) {
    margin-top: 2px;
    font-size: 12px;
    color: #a2a2a2;
}

#bookmark_member > button:hover:not(.clicked), 
#team_name > button:hover:not(.clicked) {
    background-color: #F5F5F5;
}

#bookmark_member > button.clicked, 
#team_name > button.clicked {
    background-color: #EBF5F1;
}

#team_name > button:not(.clicked) {
    background-color: #FFFFFF; /* 기본 배경색을 흰색으로 설정 */
}
#bookmark_memberlist, #team_memberlist{
	height: 500px;
	
}
.member1 {
	padding: 8px 25px 8px 16px;
	height: 84px;
	border-bottom: 1px solid #E5E5E5;
}
.member1 > img {
	width: 38px;
	height: 38px;
	border-radius: 50%;
	margin-top: 15px;
}
.bookmark_img img {
	width: 21px;
    margin-top: 10px;
}

.nobookmark_img {
	width: 21px;
	height: 21px;
    margin-top: 15px;
    background-image: url('https://flow.team/flow-renewal/assets/images/icons/icon_star.png?v=584758721be2cc5c7febf831b6f9ccc272766378');
	background-size: cover; 
}
.bookmark_img {
	width: 21px !important;
	height: 21px !important;
	background-size: cover; 
}
.nobookmark_img:hover {
	background-image: url('https://flow.team/flow-renewal/assets/images/icons/icon_star_on.png?v=ca949083bd3e2d74e7125167485cff818959483a');
}
.team_bookmark_img {
	margin-top: 5px;
}

.member1_detail {
	margin-left: 10px; 
	width: 300px;
}
.member_name {
	margin-top: 4px;
}
#name {
	font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: block;
}
#state {
	margin-top:1px;
	padding-left:3px;
	font-size: 12px;
    line-height: 16px;
    color: #a2a2a2;
}
#team, #position {
	font-size: 14px;
    color: #333;
}
#message {
	font-size: 12px;
    line-height: 20px;
    color: #a2a2a2;
}


/*---------------------멤버---------------------*/

#div_side3 {
	width: 439px;
	min-height: 900px;
	border-left: 1px solid #E5E5E5;
	display: none;
}

	
#select_teamlist > button {
	text-align: center;
	width: 219px;
	height: 48px;
	font-size: 14px;
    color: #333;
    cursor: pointer;
    background: none;
    border: none;
    
}

#select_memberlist > button {
	text-align: center;
	width: 219px;
	height: 48px;
	font-size: 14px;
    color: #333;
	cursor: pointer;
	background: none;
	border: none;
	border-bottom: 3px solid #00C473;
	
}

#allmemberlist {
	margin-top: 5px;
	margin-bottom: 5px;
	height: 40px; 
	border-bottom: 1px solid #E5E5E5;
	
}

#allmemberlist > button {
	padding: 10px 16px 10px 20px;
	width: 439px;
	height: 40px; 
	font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
	
}
#allmemberlist > button > div:nth-child(2) {
	margin-top:2px;
	font-size: 12px;
	color: #a2a2a2;
}