@charset "UTF-8";
/*--------------------------------메인 구조--------------------------------*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 
.fl { float: left; }
.fr { float: right; }
.ab { position: absolute; }
.re { position: relative; }
* {
	box-sizing: border-box;
	font-family: Noto Sans KR, sans-serif !important;
}
.border { border: 1px solid red; }
body { margin: 0; overflow-y: hidden; }
a{ text-decoration-line: none; color: inherit;}


#prioritize2 {
	margin: 0 auto;
	width:64px;
	height:137px;
	border-radius: 5px;
	border: 1px solid #ddd;
	text-align: center;
	position: absolute;
	background-color: white;
	margin: -190px 0 0 515px;
	
	z-index: 14;
	display: none;
	
}
.img {
	width: 12px;
	margin: 1px 3px 0 7px;
	
}
.font {
	font-size: 13px;
	font-weight: 500;
    color: #555;
}
.font:hover {
	color: #00b01c;
}
.prioritize_between {
	margin-top: 1.5px;
}
