@charset "UTF-8";
/*--------------------------------메인 구조--------------------------------*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 
.fl { float: left; }
.fr { float: right; }
.ab { position: absolute; }
.re { position: relative; }
* {
	box-sizing: border-box;
	font-family: Noto Sans KR, sans-serif !important;
}
.border { border: 1px solid red; }
body { margin: 0; overflow-y: hidden; }
a{ text-decoration-line: none; color: inherit;}

#div_header { 
	width: 100%;
	height: 53px;
	border-bottom: 1px solid #E5E5E5;
}
#div_header > #div_logo {
	width: 32px;
	height: 32px;
	background-color: #FFF !important;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, .12);
       margin-left: 17px;
  		margin-top: 11px;
}
#div_header > #div_logo > img {
	height: 30px;
}
#div_header > #div_select_team {
	height: 32px;
	margin-left: 10px;
  		margin-top: 13px;
}
#div_header > #div_select_team > span {
	font-size: 18px;
	font-weight: 700;
	color: rgb(51,51,51);
}
#div_header > #div_select_team > img {
	margin-top: -5px;
}
#div_menu3, #div_menu4, #div_help, #div_search, #div_hierarchy, #div_notice {
	margin-top: 13px;
	margin-right: 21px;	
}
#div_header > #div_menu4 {
	position: relative;
	width: 44px;
	height: 32px;
}
#div_header > #div_menu4 > img:nth-child(1) {
	position: absolute;
	left: 0;	
}
#div_header > #div_menu4 > img:nth-child(2) {
	position: absolute;
	right: 6px;
	top: -8px;
}
#div_header > #div_help {
	position: relative;	
	height: 32px;
	width: 24px;
}
#div_header > #div_help > img {
	position: absolute;	
	left: 0;
}
#div_header > #div_help > div.on {
	position: absolute;
	top: -2px;
	right: -2px;
	background-color: rgb(255,92,72);
	width: 6px;
	height: 6px;
	border-radius: 3px;
}


#div_side1 {
	width: 263px;
	min-height: 900px;
	border-right: 1px solid #E5E5E5;
	background-color: #ffffff;
}
#project_div_side2 {	
	width: 1657px;
	height: 900px;
	background-color: #ffffff;
	overflow: hidden;
    overflow-y: scroll;
    z-index: 10;
}

#project_div_side2::-webkit-scrollbar {
    display: none;
}
#side2_header {
	height: 80px;
	padding: 0 30px;
}
#side2_header > div:nth-child(1) {
	font-size: 20px;
    font-weight: 700;
    line-height: 80px;
    float: left;
    color: #333;
}

#side2_body {
	width: 1686px;
	padding: 0 30px;
}
#project_bookmark {
	width: 1180px;
	height: 200px;
	margin: 0 auto;
}
#project_bookmark > div:nth-child(1) {
	margin: 0 0 10px 10px;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}
#participating {
	width: 1180px;
	height: 200px;
	margin: 0 auto;
}

#participating > div:nth-child(1) {
	margin: 0 0 10px 10px;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    margin-top: 50px;
}
#project_box {
	margin-right: 20px;
	width: 23%;
    min-width: 223px;
    max-width: 274px;
    height: 180px;
    padding: 15px 15px 15px 32px;
    position: relative;
    z-index: 1;
    display: block;
    border: 1px solid #ddd;
    background: #fafafa;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 20px;
}
#project_box:hover #projectbox_name {
	color: #00b01c;
}
#projectbox_color {
	width: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  /*  background: #c0c0c0;*/
    border-radius: 6px 0 0 6px;
}

#projectbox_name {
	font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    min-width: 190px;
    max-width: 248px;
    padding: 25px 0 0 0;
    max-height: 74px;
}
#projectbox_name:hover {
	color: #00b01c;
}

#projectbox_people {
	position: absolute;
    bottom: 13px;
    left: 34px;
    right: 20px;
}
#projectbox_people > span {
	
    font-size: 14px;
    color: #999;
   
}
.yellow_star {
	width: 24px;
}
.star {
	width: 24px;
    height: 24px; 
    background-image: url('https://flow.team/flow-renewal/assets/images/icons/icon_star.png?v=584758721be2cc5c7febf831b6f9ccc272766378');
    background-size: cover; 
}
.star:hover {
	background-image: url('https://flow.team/flow-renewal/assets/images/icons/icon_star_on.png?v=ca949083bd3e2d74e7125167485cff818959483a');
}












